$global-color-primary: #6ec1e4;
$global-color-secondary: #54595f;
$global-color-text: #7a7a7a;
$global-color-accent: #61ce70;
$global-color-31240a1f: #eff7f9;
$global-color-742aecbb: #f8f6f3;
$global-color-30464529: #8bc34a;
$global-color-52c983b3: #001524;
$global-color-3ce079cc: #7baf42;
$global-color-7831cfda: #333333;
$global-color-31b2b0f3: #fff;
$global-typography-primary-font-family: "Roboto";
$global-typography-primary-font-weight: 600;
$global-typography-secondary-font-family: "Roboto Slab";
$global-typography-secondary-font-weight: 400;
$global-typography-text-font-family: "Roboto";
$global-typography-text-font-weight: 400;
$global-typography-accent-font-family: "Roboto";
$global-typography-accent-font-weight: 500;
